<!-- <div class="" style="background-color: #E5E5E5; height: 600px; width: 100vw;"></div> -->
<!-- <h1>Maddie</h1> -->
<!-- <p>This is my profile</p> -->
<div class="d-flex">
  <div class="lines" style="background-image: url('<%= asset_url 'longer_lines.png' %>');"></div>
  <div class="intro">
    <h1>MADDIE LEWIS</h1>
    <h3>about me</h3>
    <p>I just completed Le Wagon’s fullstack coding bootcamp, rated #1 on switchup. I am now a fullstack Ruby on Rails developer. I am still a student and am heading to Cambridge University this Autumn to start my Physical Natural Sciences undergraduate degree. </p>
  </div>
</div>
